<a href="https://colab.research.google.com/github/Aditya-Walia1/ML-Assignments/blob/main/ML_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
d1=pd.read_csv("/content/AWCustomers.csv")
d2=pd.read_csv("/content/AWSales.csv")
d3=pd.read_csv("/content/AWTest-Classification.csv")
d4=pd.read_csv("/content/AWTest-Regression.csv")

In [10]:
print(d1.info())
print(d1.describe())
print(d1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None
         CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
count  18361.000000   18361.000000     18361.000000          18361.000000
mean   20241.987092       0.610588         1.270301              0.338162
std     5336.332731       0.487630         0.913989              0.568957
min    11000.000000       0.000000         0.000000              0.000000
25%    15621.000000       0.000000         1.000000              0.000000
50%    20248.000000       1.000000         1.000000              0.000000
75%    24863.000000       1.000000         2.000000              1.000000
max    29483.000000       1.000000         5.000000              3.000000

       TotalChildren   YearlyIncome
count   18361.000000   18361.000000
mean        0.850389   72754.779642
std         0.927315   30686.014313
min         0.000000   25435.000000
25%         0.000000   53312.000000
50%         0.000000   61851.000000
75%         2.000000   87410.000000
max         3.000000  139115.000000
   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

In [11]:
print(d2.info())
print(d2.describe())
print(d2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     18355 non-null  int64
 1   BikeBuyer      18355 non-null  int64
 2   AvgMonthSpend  18355 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 430.3 KB
None
         CustomerID    BikeBuyer  AvgMonthSpend
count  18355.000000  18355.00000   18355.000000
mean   20241.349387      0.55173      51.767207
std     5336.539868      0.49733       3.438024
min    11000.000000      0.00000      44.100000
25%    15620.500000      0.00000      49.410000
50%    20246.000000      1.00000      51.420000
75%    24863.500000      1.00000      53.600000
max    29483.000000      1.00000      65.290000
   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

In [7]:
print(d3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            50 non-null     int64
 1   Title                 0 non-null      float64
 2   FirstName             50 non-null     object
 3   MiddleName            28 non-null     object
 4   LastName              50 non-null     object
 5   Suffix                0 non-null      float64
 6   AddressLine1          50 non-null     object
 7   AddressLine2          0 non-null      float64
 8   City                  50 non-null     object
 9   StateProvinceName     50 non-null     object
 10  CountryRegionName     50 non-null     object
 11  PostalCode            50 non-null     object
 12  PhoneNumber           50 non-null     object
 13  BirthDate             50 non-null     object
 14  Education             50 non-null     object
 15  Occupation            50 non-null     object
 16  Gender                50 non-null     object
 17  MaritalStatus         50 non-null     object
 18  HomeOwnerFlag         50 non-null     int64
 19  NumberCarsOwned       50 non-null     int64
 20  NumberChildrenAtHome  50 non-null     int64
 21  TotalChildren         50 non-null     int64
 22  YearlyIncome          50 non-null     int64
 23  LastUpdated           50 non-null     object
dtypes: float64(3), int64(6), object(15)
memory usage: 9.5+ KB
None

In [8]:
print(d4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            25 non-null     int64
 1   Title                 0 non-null      float64
 2   FirstName             25 non-null     object
 3   MiddleName            19 non-null     object
 4   LastName              25 non-null     object
 5   Suffix                0 non-null      float64
 6   AddressLine1          25 non-null     object
 7   AddressLine2          0 non-null      float64
 8   City                  25 non-null     object
 9   StateProvinceName     25 non-null     object
 10  CountryRegionName     25 non-null     object
 11  PostalCode            25 non-null     object
 12  PhoneNumber           25 non-null     object
 13  BirthDate             25 non-null     object
 14  Education             25 non-null     object
 15  Occupation            25 non-null     object
 16  Gender                25 non-null     object
 17  MaritalStatus         25 non-null     object
 18  HomeOwnerFlag         25 non-null     int64
 19  NumberCarsOwned       25 non-null     int64
 20  NumberChildrenAtHome  25 non-null     int64
 21  TotalChildren         25 non-null     int64
 22  YearlyIncome          25 non-null     int64
 23  LastUpdated           25 non-null     object
dtypes: float64(3), int64(6), object(15)
memory usage: 4.8+ KB
None

In [14]:
# Select relevant features
selected_columns = ['NumberCarsOwned', 'YearlyIncome', 'TotalChildren']
df_selected = d1[selected_columns]

In [15]:
df_selected.head()

   NumberCarsOwned  YearlyIncome  TotalChildren
0                3         81916              1
1                2         81076              2
2                3         86387              0
3                2         61481              2
4                1         51804              0

In [17]:
df_selected=df_selected.dropna()
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NumberCarsOwned  18361 non-null  int64
 1   YearlyIncome     18361 non-null  int64
 2   TotalChildren    18361 non-null  int64
dtypes: int64(3)
memory usage: 430.5 KB

In [19]:
from sklearn.preprocessing import MinMaxScaler # Correct the spelling from MinMaxScalar to MinMaxScaler

In [20]:
scalar=MinMaxScaler()
df_selected=scalar.fit_transform(df_selected)

In [22]:
# df_selected=pd.cut(df_selected,bins=4,labels=['low','medium','high'])
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
df_selected=scalar.fit_transform(df_selected)

In [24]:
# df_selected = pd.get_dummies(df_selected, columns=['Commute Distance'])

In [25]:
from sklearn.metrics import jaccard_score, accuracy_score

obj1 = df_selected.iloc[0]
obj2 = df_selected.iloc[1]

jaccard_sim = jaccard_score(obj1, obj2)
print("Jaccard Similarity:", jaccard_sim)

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'

In [ ]:
from scipy.spatial import distance

obj1 = df_selected.iloc[0]
obj2 = df_selected.iloc[1]

euclidean_dist = distance.euclidean(obj1, obj2)
print("Euclidean Distance:", euclidean_dist)

In [26]:
correlation = df_selected[['Commute Distance', 'Yearly Income']].corr()
print(correlation)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices